html{
	color:#333333;
	font:20px 'Lucida Sans', 'Lucida Grande';
	background-color:lightgrey;
}

.title{
	font-size: 150px;
	text-shadow: 0px 1px 0px white;
	font-family: 'Amaranth', sans-serif;
	font-weight:bold;
	text-align:center;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.subtitle{
	text-align:center;
}

.examples{
	text-shadow: 0px 1px 0px white;
	font: 28px 'Amaranth', sans-serif;
	font-weight:bold;
	position:relative;
}

.features{
	text-shadow: 0px 1px 0px white;
	font: 28px 'Amaranth', sans-serif;
	font-weight:bold;
	position:relative;
	left:220px;
}

#demo{
	margin-top:30px;
	width:605px;
	margin-left:auto;
	margin-right:auto;
}

#usage{
	position:relative;
	width:605px;
	margin-left:auto;
	margin-right:auto;
	top:-60px;
	font-size:14px;
}

#demoHolder{
	width:305px;
	display:inline-block;
}

#featureHolder{
	width:290px;
	display:inline-block;
	position:relative;
	top:-120px;
	line-height:20px;
	font-size:14px;
}

.code{
	text-shadow: none;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0 30px 0;
}